Repository LabKey/labkey-ui-components, pull requests merged in 2020-02, with the labels that each got.

#152 Issue 39341: Fix for specimen designer usage of data types that aren't supported for new domain field creation
  packages/components/package.json
  packages/components/releaseNotes/labkey/components.md
  packages/components/src/components/domainproperties/constants.ts
  packages/components/src/components/domainproperties/models.ts
  packages/components/src/test/data/property-getDomainWithPartiallyLockedFields.json
Labels: TeamCity test review complete, issue verification complete

#151 Item 6858: Misc User and Permissions management fixes
  packages/components/package.json
  packages/components/releaseNotes/labkey/components.md
  packages/components/src/components/domainproperties/__snapshots__/DomainRow.spec.tsx.snap
  packages/components/src/components/domainproperties/constants.ts
  packages/components/src/components/permissions/PermissionAssignments.spec.tsx
  packages/components/src/components/permissions/PermissionAssignments.tsx
  packages/components/src/components/permissions/PermissionsRole.spec.tsx
  packages/components/src/components/permissions/PermissionsRole.tsx
  packages/components/src/components/permissions/RemovableButton.spec.tsx
  packages/components/src/components/permissions/RemovableButton.tsx
  packages/components/src/components/permissions/__snapshots__/PermissionAssignments.spec.tsx.snap
  packages/components/src/components/permissions/__snapshots__/PermissionsRole.spec.tsx.snap
  packages/components/src/components/permissions/__snapshots__/RemovableButton.spec.tsx.snap
  packages/components/src/components/permissions/actions.ts
  packages/components/src/components/permissions/models.spec.ts
  packages/components/src/components/permissions/models.ts
  packages/components/src/components/user/SiteUsersGridPanel.spec.tsx
  packages/components/src/components/user/SiteUsersGridPanel.tsx
  packages/components/src/test/data/property-domainExceptionClient.json
Labels: issue verification complete, needs TeamCity test review

#169 Explicitly specify webpack loader dependencies
  packages/components/package.json
  packages/components/yarn.lock
Labels: TeamCity test review complete, code review complete

#173 Fix for Sample Manager QueryGridModel use case that passes in undefined as baseFilters
  packages/components/package.json
  packages/components/releaseNotes/labkey/components.md
  packages/components/src/actions.ts
  packages/components/src/components/base/models/model.ts
Labels: TeamCity test review complete
