Repository LabKey/labkey-ui-components, pull requests merged in 2020-05, with the labels that each got.

#233 Epic 6800 : Issue Definition designer (Story 1) - IssuesPropertyPanel and IssuesListDesignerPanels
  packages/components/package.json
  packages/components/releaseNotes/labkey/components.md
  packages/components/src/components/domainproperties/issues/IssuesListDefDesignerPanels.spec.tsx
  packages/components/src/components/domainproperties/issues/IssuesListDefDesignerPanels.tsx
  packages/components/src/components/domainproperties/issues/IssuesListDefPropertiesPanel.spec.tsx
  packages/components/src/components/domainproperties/issues/IssuesListDefPropertiesPanel.tsx
  packages/components/src/components/domainproperties/issues/IssuesListDefPropertiesPanelFormElements.tsx
  packages/components/src/components/domainproperties/issues/__snapshots__/IssuesListDefDesignerPanels.spec.tsx.snap
  packages/components/src/components/domainproperties/issues/__snapshots__/IssuesListDefPropertiesPanel.spec.tsx.snap
  packages/components/src/components/domainproperties/issues/constants.ts
  packages/components/src/components/domainproperties/issues/models.spec.ts
  packages/components/src/components/domainproperties/issues/models.ts
  packages/components/src/components/permissions/actions.ts
  packages/components/src/components/permissions/models.ts
  packages/components/src/stories/IssuesListDefDesignerPanels.tsx
  packages/components/src/stories/mock.tsx
  packages/components/src/test/data/issuesListDef-getDomainDetails.json
  packages/components/src/test/data/security-getMembers.json
  packages/components/src/util/helpLinks.tsx
Labels: TeamCity test review complete, issue verification complete

#242 Misc typedoc updates in preparation for version 1.0 of @labkey/components
  packages/components/README.md
  packages/components/docs/public.md
  packages/components/package.json
  packages/components/src/QueryModel/testUtils.ts
  packages/components/src/components/domainproperties/actions.ts
  packages/components/src/index.ts
  packages/components/typedoc-internal.js
  packages/components/typedoc-public.js
Labels: TeamCity test review complete

#250 Item 7207: DatasetColumnMappingPanel change to allow for numeric and text fields to be used for timepoint/visit column mapping
  packages/components/package.json
  packages/components/releaseNotes/labkey/components.md
  packages/components/src/components/domainproperties/dataset/DatasetColumnMappingPanel.tsx
  packages/components/src/components/domainproperties/dataset/models.spec.ts
  packages/components/src/components/domainproperties/dataset/models.ts
Labels: TeamCity test review complete

#252 Item 6646: Issues List Def support for shared domain
  packages/components/package.json
  packages/components/releaseNotes/labkey/components.md
  packages/components/src/components/domainproperties/issues/IssuesListDefDesignerPanels.tsx
  packages/components/src/components/domainproperties/issues/actions.ts
  packages/components/src/components/domainproperties/issues/models.spec.ts
  packages/components/src/components/domainproperties/issues/models.ts
  packages/components/src/components/domainproperties/models.spec.ts
  packages/components/src/components/domainproperties/models.ts
Labels: TeamCity test review complete, issue verification complete

#253 Item 7333 - List designer issue fix targeting release20.3
  packages/components/package.json
  packages/components/releaseNotes/labkey/components.md
  packages/components/src/components/domainproperties/list/models.ts
Labels: issue verification complete

#248 Issue 40347: Domain designer wrappers not supporting domain kind specific properties in the create case
  packages/components/package.json
  packages/components/releaseNotes/labkey/components.md
  packages/components/src/components/domainproperties/dataclasses/actions.ts
  packages/components/src/components/domainproperties/dataset/actions.ts
  packages/components/src/components/domainproperties/issues/actions.ts
  packages/components/src/components/domainproperties/list/actions.ts
  packages/components/src/components/samples/actions.ts
  packages/components/src/index.ts
  packages/components/yarn.lock
Labels: TeamCity test review complete
