Repository LabKey/labkey-ui-components, pull requests merged in 2021-02, with the labels that each got.

#447 Item 8335: LabKey product navigation header icon and menu
  packages/build/webpack/README.md
  packages/components/package.json
  packages/components/releaseNotes/components.md
  packages/components/src/index.ts
  packages/components/src/internal/app/constants.ts
  packages/components/src/internal/app/index.ts
  packages/components/src/internal/app/utils.spec.tsx
  packages/components/src/internal/app/utils.ts
  packages/components/src/internal/components/navigation/NavigationBar.spec.tsx
  packages/components/src/internal/components/navigation/NavigationBar.tsx
  packages/components/src/internal/components/navigation/UserMenu.spec.tsx
  packages/components/src/internal/components/navigation/UserMenu.tsx
  packages/components/src/internal/components/navigation/__snapshots__/NavigationBar.spec.tsx.snap
  packages/components/src/internal/components/navigation/__snapshots__/UserMenu.spec.tsx.snap
  packages/components/src/internal/components/navigation/actions.ts
  packages/components/src/internal/components/navigation/model.ts
  packages/components/src/internal/components/notifications/ServerNotifications.spec.tsx
  packages/components/src/internal/components/notifications/ServerNotifications.tsx
  packages/components/src/internal/components/productnavigation/ProductAppMenuItem.spec.tsx
  packages/components/src/internal/components/productnavigation/ProductAppMenuItem.tsx
  packages/components/src/internal/components/productnavigation/ProductAppsDrawer.spec.tsx
  packages/components/src/internal/components/productnavigation/ProductAppsDrawer.tsx
  packages/components/src/internal/components/productnavigation/ProductClickableItem.spec.tsx
  packages/components/src/internal/components/productnavigation/ProductClickableItem.tsx
  packages/components/src/internal/components/productnavigation/ProductLKSDrawer.spec.tsx
  packages/components/src/internal/components/productnavigation/ProductLKSDrawer.tsx
  packages/components/src/internal/components/productnavigation/ProductNavigation.tsx
  packages/components/src/internal/components/productnavigation/ProductNavigationHeader.spec.tsx
  packages/components/src/internal/components/productnavigation/ProductNavigationHeader.tsx
  packages/components/src/internal/components/productnavigation/ProductNavigationMenu.spec.tsx
  packages/components/src/internal/components/productnavigation/ProductNavigationMenu.tsx
  packages/components/src/internal/components/productnavigation/ProductProjectsDrawer.spec.tsx
  packages/components/src/internal/components/productnavigation/ProductProjectsDrawer.tsx
  packages/components/src/internal/components/productnavigation/ProductSectionsDrawer.spec.tsx
  packages/components/src/internal/components/productnavigation/ProductSectionsDrawer.tsx
  packages/components/src/internal/components/productnavigation/actions.ts
  packages/components/src/internal/components/productnavigation/constants.ts
  packages/components/src/internal/components/productnavigation/models.ts
  packages/components/src/internal/testHelpers.ts
  packages/components/src/internal/url/AppURL.spec.ts
  packages/components/src/internal/url/AppURL.ts
  packages/components/src/stories/FileTree.scss
  packages/components/src/stories/FileTree.stories.tsx
  packages/components/src/stories/NavigationBar.stories.tsx
  packages/components/src/stories/ProductNavigationMenu.stories.tsx
  packages/components/src/stories/mock.tsx
  packages/components/src/stories/stories.scss
  packages/components/src/test/data/admin-getFolderTabs.json
  packages/components/src/test/data/admin-getModules.json
  packages/components/src/test/data/product-getMenuSections-lkb.json
  packages/components/src/test/data/product-getMenuSections-lksm.json
  packages/components/src/test/data/product-getRegisteredProducts.json
  packages/components/src/test/data/project-getProjectContainers.json
  packages/components/src/test/setupUtils.ts
  packages/components/src/theme/index.scss
  packages/components/src/theme/navbar.scss
  packages/components/src/theme/notification.scss
  packages/components/src/theme/product-navigation.scss
  packages/components/yarn.lock
Labels: TeamCity test review complete, issue verification complete

#450 8049: Summary View Manual Testing Tweaks
  packages/components/package.json
  packages/components/releaseNotes/components.md
  packages/components/src/internal/components/domainproperties/DomainForm.tsx
  packages/components/src/internal/components/domainproperties/DomainPropertiesGrid.spec.tsx
  packages/components/src/internal/components/domainproperties/models.tsx
Labels: TeamCity test review complete, needs TeamCity test review

#448 @labkey/components package bundle optimizations
  packages/components/docs/localDev.md
  packages/components/package.json
  packages/components/releaseNotes/components.md
  packages/components/src/internal/components/PreviewGrid.spec.tsx
  packages/components/src/internal/components/QueryGridPanel.spec.tsx
  packages/components/src/internal/components/assay/AssayTypeSummary.spec.tsx
  packages/components/src/internal/components/assay/RunDataPanel.spec.tsx
  packages/components/src/internal/components/domainproperties/DomainForm.spec.tsx
  packages/components/src/internal/components/domainproperties/OntologyLookupOptions.spec.tsx
  packages/components/src/internal/components/domainproperties/actions.spec.ts
  packages/components/src/internal/components/domainproperties/assay/AssayDesignerPanels.spec.tsx
  packages/components/src/internal/components/domainproperties/dataclasses/DataClassDesigner.spec.tsx
  packages/components/src/internal/components/domainproperties/dataset/DatasetDesignerPanels.spec.tsx
  packages/components/src/internal/components/domainproperties/issues/IssuesListDefDesignerPanels.spec.tsx
  packages/components/src/internal/components/domainproperties/list/ListDesignerPanels.spec.tsx
  packages/components/src/internal/components/domainproperties/samples/SampleTypeDesigner.spec.tsx
  packages/components/src/internal/components/domainproperties/samples/SampleTypePropertiesPanel.spec.tsx
  packages/components/src/internal/components/editable/Cell.spec.tsx
  packages/components/src/internal/components/entities/EntityDeleteConfirmModal.spec.tsx
  packages/components/src/internal/components/entities/ParentEntityEditPanel.spec.tsx
  packages/components/src/internal/components/entities/SingleParentEntityPanel.spec.tsx
  packages/components/src/internal/components/forms/QueryFormInputs.spec.tsx
  packages/components/src/internal/components/forms/QueryInfoForm.spec.tsx
  packages/components/src/internal/components/forms/detail/Detail.spec.tsx
  packages/components/src/internal/components/forms/detail/DetailEditing.spec.tsx
  packages/components/src/internal/components/gridbar/QueryGridBar.spec.tsx
  packages/components/src/internal/components/lineage/grid/LineageGrid.spec.tsx
  packages/components/src/internal/components/ontology/OntologyBrowserPanel.spec.tsx
  packages/components/src/internal/components/pipeline/PipelineStatusDetailPage.spec.tsx
  packages/components/src/internal/components/samples/SampleSetSummary.spec.tsx
  packages/components/src/internal/components/user/UserDetailsPanel.spec.tsx
  packages/components/src/internal/components/user/UserProfile.spec.tsx
  packages/components/src/internal/testHelperMocks.ts
  packages/components/src/internal/testHelpers.ts
  packages/components/webpack.config.js
Labels: TeamCity test review complete
