Repository LabKey/labkey-ui-components, pull requests merged in 2024-06, with the labels that each got.

#1507 Issue 41718: Domain Designer Field Imports should observe auto-increment fields
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/releaseNotes/components.md
  packages/components/src/internal/components/domainproperties/PropDescType.ts
Labels: needs TeamCity test review

#1509 Issue 49882: App editable grid support for locking column header and left columns on scroll
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/releaseNotes/components.md
  packages/components/src/internal/components/assay/RunDataPanel.tsx
  packages/components/src/internal/components/editable/EditableGrid.tsx
  packages/components/src/internal/components/editable/EditableGridPanel.tsx
  packages/components/src/public/QueryModel/GridPanel.tsx
  packages/components/src/theme/query-model.scss
Labels: TeamCity test review complete

#1501 Assay import support for results domain file fields
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/releaseNotes/components.md
  packages/components/src/internal/AssayDefinitionModel.test.ts
  packages/components/src/internal/AssayDefinitionModel.ts
  packages/components/src/internal/app/utils.test.ts
  packages/components/src/internal/app/utils.ts
  packages/components/src/internal/components/assay/AssayImportPanels.tsx
  packages/components/src/internal/components/assay/AssayWizardModel.test.ts
  packages/components/src/internal/components/assay/AssayWizardModel.ts
  packages/components/src/internal/components/assay/RunDataPanel.spec.tsx
  packages/components/src/internal/components/assay/RunDataPanel.test.tsx
  packages/components/src/internal/components/assay/RunDataPanel.tsx
  packages/components/src/internal/components/assay/__snapshots__/RunDataPanel.spec.tsx.snap
  packages/components/src/internal/components/assay/__snapshots__/RunDataPanel.test.tsx.snap
  packages/components/src/internal/components/assay/actions.ts
  packages/components/src/internal/components/chart/ChartBuilderModal.tsx
  packages/components/src/internal/components/domainproperties/__snapshots__/DomainForm.test.tsx.snap
  packages/components/src/internal/components/domainproperties/assay/__snapshots__/AssayDesignerPanels.test.tsx.snap
  packages/components/src/internal/components/domainproperties/dataclasses/__snapshots__/DataClassDesigner.test.tsx.snap
  packages/components/src/internal/components/files/FileAttachmentContainer.spec.tsx
  packages/components/src/internal/components/files/FileAttachmentContainer.test.tsx
  packages/components/src/internal/components/files/FileAttachmentContainer.tsx
  packages/components/src/internal/components/files/__snapshots__/FileAttachmentContainer.spec.tsx.snap
  packages/components/src/internal/components/files/__snapshots__/FileAttachmentContainer.test.tsx.snap
  packages/components/src/internal/components/forms/LabelOverlay.tsx
  packages/components/src/public/files/FileAttachmentForm.tsx
  packages/components/src/public/files/__snapshots__/FileAttachmentForm.spec.tsx.snap
  packages/components/src/public/files/models.ts
  packages/components/src/theme/assays.scss
  packages/components/src/theme/fileupload.scss
Labels: issue verification complete, TeamCity test review complete

#1513 Convert usages of OverlayTrigger off of react-bootstrap
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/releaseNotes/components.md
  packages/components/src/internal/components/HelpIcon.tsx
  packages/components/src/internal/components/base/LockIcon.tsx
  packages/components/src/internal/components/domainproperties/TextChoiceOptions.tsx
  packages/components/src/internal/components/forms/DisableableInput.tsx
  packages/components/src/internal/components/samples/ManageSampleStatusesPanel.tsx
  packages/components/src/public/QueryModel/ManageViewsModal.tsx
  packages/components/src/theme/grid.scss
  packages/components/src/theme/section.scss
Labels: TeamCity test review complete

#1518 Issue 48439: EditableGrid drops invalid date values when calling insertRows/saveRows
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/releaseNotes/components.md
  packages/components/src/internal/components/assay/AssayWizardModel.ts
  packages/components/src/internal/components/domainproperties/samples/SampleTypeDesigner.test.tsx
  packages/components/src/internal/components/editable/models.ts
  packages/components/src/internal/components/editable/utils.test.ts
  packages/components/src/internal/components/editable/utils.ts
  packages/components/src/internal/components/forms/input/DatePickerInput.tsx
Labels: issue verification complete, TeamCity test review complete

#1521 Misc 24.7 fixes (issues 49025, 50715, 50605)
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/releaseNotes/components.md
  packages/components/src/internal/components/domainproperties/DomainRow.tsx
  packages/components/src/internal/components/domainproperties/__snapshots__/DomainRow.spec.tsx.snap
  packages/components/src/internal/components/editable/models.test.ts
  packages/components/src/internal/components/editable/models.ts
  packages/components/src/internal/util/jDateFormatParser.ts
Labels: TeamCity test review complete
